<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterMasterApp.userVersionFile.home.title">User Version Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-version-file" [routerLink]="['/user-version-file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterMasterApp.userVersionFile.home.createLabel">
            Create new User Version File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userVersionFiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterMasterApp.userVersionFile.userId">User Id</span></th>
            <th><span jhiTranslate="jhipsterMasterApp.userVersionFile.versionNo">Version No</span></th>
            <th><span jhiTranslate="jhipsterMasterApp.userVersionFile.versionInfo">Version Info</span></th>
            <th><span jhiTranslate="jhipsterMasterApp.userVersionFile.versionReleaseDate">Version Release Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userVersionFile of userVersionFiles ;trackBy: trackId">
                <td><a [routerLink]="['/user-version-file', userVersionFile.id, 'view' ]">{{userVersionFile.id}}</a></td>
                <td>{{userVersionFile.userId}}</td>
                <td>{{userVersionFile.versionNo}}</td>
                <td>{{userVersionFile.versionInfo}}</td>
                <td>{{userVersionFile.versionReleaseDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-version-file', userVersionFile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-version-file', userVersionFile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-version-file/'+ userVersionFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
